body {
  background: lightseagreen;
}
.App {
  text-align: center;
 
}
.counting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.reset {
  background: #fff;
  border: none;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}
.reset:hover {
  color: red;
}

.count {
  background: #fff;
  border: none;
  width: 70px;
  height: 50px;
  border-radius: 50%;
  font-size: 15px;
  text-align: center;
  font-weight: 800;
  cursor: pointer;
}
.count:hover {
  color: blue;
}
.CountingDown {
  color: green;
}
.CountingReset {
  color: black;
}